In [52]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv('/Users/yangdongjae/Desktop/2020/대외활동/2020년 공공 빅데이터 청년 인턴십/실무형 프로젝트/roundabout_project/data/2017청주 교차로_prep.csv', encoding = 'cp949')

In [53]:
df.set_index(['교차로명'])

,통행량,좌회전 비율8,좌회전 비율13,좌회전 비율18,사고건수,교차로 반경 50m 내 무인교통단속카메라 수,교차로 반경 50m 내 신호등 수,교차로 반경 50m 내 신호등 유무
교차로명,,,,,,,,
흥덕4,12093,17.660000,18.260000,20.060000,8,0,0,0
현도면사무소3,6285,18.294190,13.341724,7.051565,3,2,0,0
효촌분기점3,8752,32.332633,25.972342,34.019955,0,0,0,0
터미널4,19712,7.365398,6.701429,6.856916,10,0,2,1
하이닉스반도체4,13278,18.630000,19.710000,18.360000,6,0,2,1
...,...,...,...,...,...,...,...,...
석판분기점4,4470,28.810000,25.590000,39.400000,1,0,0,0
서문교하상도로3,4499,19.332566,28.961039,30.989453,3,0,6,1
서청주교4,17604,30.930000,25.170000,23.480000,7,0,3,1
산업단지6,12080,16.054937,14.000596,19.555556,11,1,3,1
상당4,14056,21.660000,20.680000,22.920000,4,0,12,1

In [54]:
scaler = MinMaxScaler()
df_scaler = scaler.fit_transform(df['통행량'].values.reshape(-1,1))
df.drop(columns = ['통행량'], inplace = True)

In [62]:
df.drop(columns = ['교차로명'],inplace = True)

KeyError: "['교차로명'] not found in axis"

In [63]:
df.head()

,좌회전 비율8,좌회전 비율13,좌회전 비율18,사고건수,교차로 반경 50m 내 무인교통단속카메라 수,교차로 반경 50m 내 신호등 수,교차로 반경 50m 내 신호등 유무
0,17.660000,18.260000,20.060000,8,0,0,0
1,18.294190,13.341724,7.051565,3,2,0,0
2,32.332633,25.972342,34.019955,0,0,0,0
3,7.365398,6.701429,6.856916,10,0,2,1
4,18.630000,19.710000,18.360000,6,0,2,1

In [64]:
df_scaler = pd.DataFrame(df_scaler)

In [89]:
df = pd.concat([df, df_scaler], axis = 1)

AttributeError: 'DataFrame' object has no attribute 'concat'

In [90]:
df

,좌회전 비율8,좌회전 비율13,좌회전 비율18,사고건수,교차로 반경 50m 내 무인교통단속카메라 수,교차로 반경 50m 내 신호등 수,교차로 반경 50m 내 신호등 유무,0
0,17.660000,18.260000,20.060000,8,0,0,0,0.547485
1,18.294190,13.341724,7.051565,3,2,0,0,0.202530
2,32.332633,25.972342,34.019955,0,0,0,0,0.349053
3,7.365398,6.701429,6.856916,10,0,2,1,1.000000
4,18.630000,19.710000,18.360000,6,0,2,1,0.617865
...,...,...,...,...,...,...,...,...
65,28.810000,25.590000,39.400000,1,0,0,0,0.094732
66,19.332566,28.961039,30.989453,3,0,6,1,0.096454
67,30.930000,25.170000,23.480000,7,0,3,1,0.874800
68,16.054937,14.000596,19.555556,11,1,3,1,0.546713
69,21.660000,20.680000,22.920000,4,0,12,1,0.664073

In [92]:
df = df.rename({"0":"y"},axis = 1)

,좌회전 비율8,좌회전 비율13,좌회전 비율18,사고건수,교차로 반경 50m 내 무인교통단속카메라 수,교차로 반경 50m 내 신호등 수,교차로 반경 50m 내 신호등 유무,0
0,17.660000,18.260000,20.060000,8,0,0,0,0.547485
1,18.294190,13.341724,7.051565,3,2,0,0,0.202530
2,32.332633,25.972342,34.019955,0,0,0,0,0.349053
3,7.365398,6.701429,6.856916,10,0,2,1,1.000000
4,18.630000,19.710000,18.360000,6,0,2,1,0.617865
...,...,...,...,...,...,...,...,...
65,28.810000,25.590000,39.400000,1,0,0,0,0.094732
66,19.332566,28.961039,30.989453,3,0,6,1,0.096454
67,30.930000,25.170000,23.480000,7,0,3,1,0.874800
68,16.054937,14.000596,19.555556,11,1,3,1,0.546713
69,21.660000,20.680000,22.920000,4,0,12,1,0.664073